{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" /> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script defer src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script defer src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/customized_leaflet.css' %}">
    <title>Coffee cherry</title>
  </head>
  <body class="container">
    <header class="header">
      <nav class="nav">
        <a href="{% url 'home' %}" class="nav__link">

          <img
          src="{% static 'images/logo-small.webp' %}"
          alt="coffee-cherry-logo"
          class="nav__logo"
          />
        </a>
        <ul class="nav__list">
          <a href="{% url 'about' %}" class="nav__list__links">О НАС</a>
          <a href="{% url 'location' %}" class="nav__list__links">АДРЕСА</a>
          <a href="{% url 'menu' %}" class="nav__list__links">МЕНЮ</a>
      </nav>
    </header>
    {% block content %} {% endblock content %}
    <footer class="footer">
        <p>
          <a href="https://www.instagram.com/coffeecherry_siberia/" class="footer__link">МЫ В ИНСТАГРАММЕ! <ion-icon src="./static/images/logo-instagram.svg" style="font-size: 4rem;"></ion-icon></a>
        </p>
        <div class="footer__wrapper">
          <nav class="footer__nav">
            <ul class="footer__list"> 
              <a href="{% url 'about' %}" class="footer__list__link">О НАС<a>
              <a href="{% url 'location' %}" class="footer__list__link">АДРЕСА</a>
              <a href="{% url 'menu' %}" class="footer__list__link">МЕНЮ</a>
              <a href="https://vk.com/coffeecherry_siberia" class="footer__list__link"><ion-icon src="{% static 'images/logo-vk.svg'%}"></ion-icon></a>
              <a href="https://www.instagram.com/coffeecherry_siberia/" class="footer__list__link"><ion-icon src="{% static 'images/logo-instagram.svg'%}"></ion-icon></a>
            </ul>
          </nav>
          <p class="copyright">
            &copy; Copyright 2021 by Aleksey Lozhkin.
          </p>
        </div>
        
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
    </html>