{% extends 'base.html' %} {% load static %}
{% block title %}Меню{% endblock title %}
{% block content %}
<section id='section' class="menu section">
    <nav class="menu__nav">
      <h1 class="menu__nav-header">МЕНЮ</h1>
      <ul class="menu__nav-list">
        <a href="#coffee" class="menu__nav-link">КОФЕ</a>
        <a href="#tea" class="menu__nav-link">ЧАЙ</a>
        <a href="#milk" class="menu__nav-link">МОЛОЧНЫЕ КОКТЕЙЛИ</a>
      </ul>
    </nav>
  </section>
  <section class="all-menu section">
    <div id="coffee"><h1 class="all-menu__header" id="coffee">КОФЕ</h1></div>
    
    <ul class="all-menu__list">
    {% for coffee in all_drinks_list %} {% if coffee.type == "кофе" %}
    <div class="card">
      <div class="card-side front">
        <img src="{% static 'images/latte.webp' %}" alt="" />
        <div class="card-side-text-block">
          {{coffee.name}}
          {% if coffee.size_small and coffee.size_big is not null %}
          <div class="card-side__sizes">
            <span>{{coffee.size_big}} мл.</span>
            <span>{{coffee.price_big}} руб.</span>
          </div>
          <div class="card-side__sizes">
            <span>{{coffee.size_small}} мл.</span>
            <span>{{coffee.price_small}} руб.</span>
          </div>
          {% elif coffee.size_small is null %}
          <div class="card-side__sizes">
            <span>{{coffee.size_big}} мл.</span>
            <span>{{coffee.price_big}} руб.</span>
          </div>
          {% else %}
          <div class="card-side__sizes">
            <span>{{coffee.size_small}} мл.</span>
            <span>{{coffee.price_small}} руб.</span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-side back">
        <h1 class="card-side__description">{{coffee.description}}</h1>
        
      </div>
    </div>
    {% endif %}{% endfor %}
  </ul>
  </section>
  <section class="all-menu section">
    <div id="tea"><h1 class="all-menu__header" id="tea">ЧАЙ</h1></div>
    <ul class="all-menu__list">
    {% for tea in all_drinks_list %} {% if tea.type == "чай" %}
    <div class="card">
      <div class="card-side front">
        <img src="{% static 'images/latte.webp' %}" alt="" />
        <div class="card-side-text-block">
          {{tea.name}}
          {% if tea.size_small and tea.size_big is not null %}
          <div class="card-side__sizes">
            <span>{{tea.size_big}} мл.</span>
            <span>{{tea.price_big}} руб.</span>
          </div>
          <div class="card-side__sizes">
            <span>{{tea.size_small}} мл.</span>
            <span>{{tea.price_small}} руб.</span>
          </div>
          {% elif tea.size_small is null %}
          <div class="card-side__sizes">
            <span>{{tea.size_big}} мл.</span>
            <span>{{tea.price_big}} руб.</span>
          </div>
          {% else %}
          <div class="card-side__sizes">
            <span>{{tea.size_small}} мл.</span>
            <span>{{tea.price_small}} руб.</span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-side back">
        <h1 class="card-side__description">{{tea.description}}</h1>
        
      </div>
    </div>
    {% endif %}{% endfor %}
  </ul>
  </section>
        <section class="all-menu section">
          <div id="milk"><h1 class="all-menu__header" id="milk">МОЛОЧНЫЕ КОКТЕЙЛИ</h1></div>
          <ul class="all-menu__list">
          {% for milk in all_drinks_list %} {% if milk.type == "молочный" %}
          <div class="card">
            <div class="card-side front">
              <img src="{% static 'images/latte.webp' %}" alt="" />
              <div class="card-side-text-block">
                {{milk.name}}
                {% if milk.size_small and milk.size_big is not null %}
                <div class="card-side__sizes">
                  <span>{{milk.size_big}} мл.</span>
                  <span>{{milk.price_big}} руб.</span>
                </div>
                <div class="card-side__sizes">
                  <span>{{milk.size_small}} мл.</span>
                  <span>{{milk.price_small}} руб.</span>
                </div>
                {% elif milk.size_small is null %}
                <div class="card-side__sizes">
                  <span>{{milk.size_big}} мл.</span>
                  <span>{{milk.price_big}} руб.</span>
                </div>
                {% else %}
                <div class="card-side__sizes">
                  <span>{{milk.size_small}} мл.</span>
                  <span>{{milk.price_small}} руб.</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="card-side back">
              <h1 class="card-side__description">{{milk.description}}</h1>
              
            </div>
          </div>
          {% endif %}{% endfor %}
        </ul>
        </section>
  {% endblock content %}